@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#info001 {
    position: absolute;
    background-color: white;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    width: 311px; height: 627px;
}

section#info002 {
    text-align: right;
    transform: translate(0px, 85px);
}

section#info002 img {
    /* position: absolute;     */
    box-sizing: border-box;
    cursor: pointer;
}
section#info002 img:hover {
    border: 2px solid rgba(255, 255,255, 0.6);    
    transform: translate(-3px, -3px);
    transition: 0.2s, border 1s;
}
/* 
teste de efeito com a pseudo classe ACTIVE 
/* Estilo base do botão */
section p img.meu-botao {
    /* Verde */
    color: white;
    width: 100px;
    margin: 10px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,400);
    box-sizing: border-box;
    cursor: pointer;
    background-color: #494b49;
    display: inline-block;
    font-size: 16px;
    /* Transição suave */
    transition: background-color 0.3s ease, transform 0.1s ease; 
}
/* Efeito quando o botão é clicado */
section p img.meu-botao:active {
    background-color: rgb(24, 1, 1);
    transform: translate(5px, 5px);    
    /* Encolhe ligeiramente o botão */
    transform: scale(0.98); 

}
